.footer-logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.footer-text {
    font-family: "Space Mono", monospace;
}

@media (max-width: 768px) {
    .footer-logo {
        width: 70px;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        width: 50px;
    }
}